@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

header
{
    width: 100%;
}

#logo-header
{
    padding-right:2%;
}

#navbar-Title
{
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
#navbarNavDropdown li
{
    font-family: 'Potta One', cursive;
    font-size: 20px;
}

/*---Intro---*/

#intro
{
    padding-top: 5%;
}

#intro_text_1 /*remove placeholder*/
{
    background-image:url("../img/projectbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#intro h1 
{
    font-size: 60px;
    font-family: 'Just Another Hand', cursive;
}

#intro h2
{
    font-size: 60px;
    font-family: 'Just Another Hand', cursive;
}

#intro-arrow
{
    margin-left: auto;
    margin-right: auto;
}

#intro-arrow p
{
    font-family: 'Just Another Hand', cursive;
    font-size: 50px;
    margin-bottom: -10%;
}

#triangle
{
      margin-left: auto;
      margin-right: auto;
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-top: 50px solid #111111;
}

#blob-img
{
    height: 100%;
    width: 100%;
}
/*---myself---*/
#myself
{
    padding-top: 5%;
    padding-bottom: 5%;
}

#myself-img 
{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

#myself-img img 
{
    width: 60%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -10px 5px 0 #000000;
}

#intro_text_2 p /*remove placeholder*/
{
    background-image: url("../img/projectbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#myself p
{
    font-family: 'Just Another Hand', cursive;
    font-size: 50px;
}
/*---protection---*/
#protect 
{
    margin-left: auto;
    margin-right: auto;
}

#protect p
{
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
}
/*---CV---*/
#CV svg
{
    height: 40px;
    width: 40px;
}

#CV h3 
{
    background-color: #333333;
    text-shadow: 3px 3px 0 #000000;
    color: white;
    font-family: 'Potta One', cursive;
}

#CV span
{
    color: #242de4;
}

#CV abbr
{
    text-decoration: none;
    color: #ff0000;
}

#CV p,li
{
    font-size: 30px;
    font-family: 'Just Another Hand', cursive;
}
/*---project---*/
#project h3
{
    font-size: 60px;
    font-family: 'Potta One', cursive;
}

#project_line
{
    height:10px;
    width: 80%;
    background-color: #111111;
    margin-left: auto;
    margin-right: auto;
}

#project_bg
{
    background-image:url("../img/projectbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#project p,
#project a
{
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
    text-align: center;
}
#text_color_1,
#text_color_2,
#text_color_3
{
    text-shadow: 2px 2px 0px #000000
}

#carousel
{
}

/*---footer---*/
footer
{
    font-family: 'Just Another Hand', cursive;
    font-size: 100px;
}
#blob-img3
{
    height:100px;
    width:100px;
}

/*---media queries---*/
@media screen and (max-width: 640px) {
    #project h3
    {
        font-size: 40px;
    }
}

@media screen and (max-width: 350px) {
    #navbar-Title 
    {
        font-size: 20px;
    }
    #CV h3 {
        font-size: 20px;
    }
}