#intro-arrow
{
    margin-left: auto;
    margin-right: auto;
}

#waifu-img
{
    height: 100%;
    width: 100%;
}

#myself-img {
    height: 100%;
    width: 100%;
}

#protect {
    margin-left: auto;
    margin-right: auto;
}
